language: python
python:
  - "3.6"
  - "3.7"
install:
  - pip install --upgrade setuptools pip pytest pytest-cov coverage codecov
  - pip install -r requirements.txt
  - pip install -e .
script:
  - pytest -v --cov
after_success:
  - codecov
