# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches-ignore:
      - master
  pull_request:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  pytest:

    runs-on: ubuntu-latest
    if: always()
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.x"]
      fail-fast: false

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update && sudo apt-get install libhdf5-dev libnetcdf-dev
        python -m pip install --upgrade pip
    - name: Install package
      run: |
        pip install -e .[calc,tests]
    - name: Test with pytest
      run: |
        pytest -vv --long --cov


  # test with oldest supported version of packages
  pytest-oldest-xarray:

    runs-on: ubuntu-latest
    if: always()
    strategy:
      matrix:
        python-version: ["3.9"]
      fail-fast: false

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update && sudo apt-get install libhdf5-dev libnetcdf-dev
        python -m pip install --upgrade pip
        pip install xarray~=2024.7.0 pandas~=1.4.0
    - name: Install package
      run: |
        pip install -e .[tests]
    - name: Test with pytest
      run: |
        pytest -vv --long --cov
